@import "../../../components/boxes.scss";
@import "../../../palette/palette.scss";
.roles-container__body {
  &__property-box {
    &__datagrid {
      height: 100%;
      margin-left: 8px;
    }
    &__links {
      padding: 16px;
      border-radius: 3px;
      border: 1px solid;
      border-color: $grey-200;
      margin-left: 8px;
      height: 100%;
      @include themify($themes) {
        color: themed("text-drawer-selected-item");
      }
      &__header {
        text-align: center;
        font-size: 18px;
      }
    }
  }
}
.add-role-pop-up {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px;
  align-items: end;
  justify-content: end;
}

.roles-custom-toolbar {
  display: flex;
  justify-content: space-between;
}
