@import "../../components/boxes.scss";
@import "../../palette/palette.scss";
@import "../../components/scrollbar.scss";
.overview-container {
  @include layoutBox;
  overflow: hidden;
  width: 100%;
  min-width: 470px !important;
  margin-left: 4px;
  &__tab-box {
    height: calc(100% - 43.6px);
    &__tab-header {
      padding: 0 8px;
      position: static;
      @include themify($themes) {
        background: themed("bg-all");
      }
      &__tabs {
        min-height: 30px;
        padding-top: 4px;
        &__item {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          height: 32px;
          display: flex;
          margin-right: 4px;
          align-items: center;
          @include themify($themes) {
            background: darken(themed("bg-tree-menu"), 8%);
          }
          &__text {
            @include themify($themes) {
              color: darken(themed("text-color"), 50%);
            }
          }

          &__active {
            @include themify($themes) {
              background: themed("bg-tree-menu");
            }
            &__text {
              @include themify($themes) {
                color: themed("text-color");
              }
            }
          }
        }
      }
    }
    &__tab-body {
      height: calc(100% - 36px);
      @include themify($themes) {
        background: themed("bg-tree-menu");
      }
      .react-swipeable-view-container {
        height: 100%;
      }
      &__tab-panel {
        height: 100%;
        &__react-grid-layout-box {
          @include defaultScroll;
          overflow-y: auto;
          height: 100%;
          width: 100%;
        }
      }
    }
    &__btn-new-widget {
      position: absolute;
      bottom: 16px;
      left: 16px;
      @include themify($themes) {
        background-color: themed("bg-btn-new-widget");
      }
      @include themify($themes) {
        color: themed("text-color");
      }
    }
  }
  position: relative;
}
