.pop-up-layout-font-size {
  div {
    font-size: 14px;
  }
}

.overview-custom-line-chart-tag-name {
  font-size: 14px;
  font-weight: bold;
}
.overview-custom-line-chart-prop {
  font-size: 12px;
}

.overview-line-chart-hc-asset-box {
  height: calc(100% - 55px);
  &__title {
    margin: 0px 16px 12px 0px;
    font-size: 14px;
  }
}
