@import "../palette/palette.scss";
.settings-container {
  &__name-role {
    flex-direction: column !important;
    align-items: flex-end;
    justify-content: center;
    &__name {
      font-weight: 500;
      text-transform: capitalize;
      font-size: 1.1rem;
      @include themify($themes) {
        color: themed("text-tree-menu");
      }
    }
    &__role {
      font-weight: 400;
      text-transform: capitalize;
      font-size: 1rem;
      @include themify($themes) {
        color: themed("text-tree-menu");
      }
    }
  }
  &__main-menu {
    top: 60px !important;
    right: 0px;
    left: auto !important;
    min-width: 300px !important;
    &__item-icon-box {
      width: 24px;
      margin-right: 8px;
    }
  }
}
