@import "../components/boxes.scss";
.template-container__body {
  @include layoutBox;
  overflow: hidden;
  width: 100%;
  min-width: 550px !important;
  &__action-box {
    @include actionBox;
    &__icons {
      margin-right: 2px !important;
    }
  }
  &__property-box {
    @include propertyBox;
    width: 100%;
  }
}
