@import "../../../components/boxes.scss";
.types-container__body {
  @include layoutBox;
  overflow: hidden;
  width: 100%;
  min-width: 360px !important;
  margin-left: 4px;
  &__action-box {
    @include actionBox;
    &__icons {
      margin-right: 2px !important;
    }
    &__layer-select {
      margin-inline: 8px !important;
    }
  }
  &__property-box {
    @include propertyBox;
    width: 100%;

    &__datagrid {
      height: 100%;
      margin-left: 8px;
    }
  }
}
