//Mui color palette
$actionHover: rgba(255, 255, 255, 0.08);
$text-disabled: rgba(255, 255, 255, 0.5);

$themes: (
  light: (
    bg-all: #eeeeee,
    bg-drawer: #e0e0e0,
    bg-drawer-selected-item: #b0bec5,
    bg-drawer-selected-item-hover: #cfd8dc,
    bg-drawer-item-hover: $actionHover,
    bg-app-header: #819ca9,
    bg-card: #e0e0e0,
    bg-tree-menu: #efebe9,
    bg-tree-menu-icon: #819ca9,
    bg-action-icon-tooltip: #9fa8da,

    border-card: #607d8b,
    border-card-hover: #00897b,

    text-drawer-item: #364868,
    text-drawer-selected-item: #546e7a,
    text-card: #616161,
    text-tree-menu: #212121,
    action-menu-icon: #263238,

    app-logo: url("../../Images/header/ligeiaLogo.png"),
  ),
  dark: (
    bg-all: #757575,
    bg-drawer: #424242,
    bg-drawer-selected-item: #616161,
    bg-drawer-selected-item-hover: #757575,
    bg-drawer-item-hover: $actionHover,
    bg-app-header: #212121,
    bg-card: #9e9e9e,
    bg-tree-menu: #616161,
    bg-tree-menu-icon: #ffffff,
    bg-action-icon-tooltip: #5c6bc0,

    border-card: #424242,
    border-card-hover: #607d8b,

    text-drawer-item: #ffffff,
    text-drawer-selected-item: #eceff1,
    text-card: #eeeeee,
    text-tree-menu: #ffffff,
    action-menu-icon: #ffffff,

    app-logo: url("../../Images/header/ligeiaLogoDark.png"),
  ),
  temp: (
    bg-all: #f8f1f9,
    bg-drawer: #ffffff,
    bg-drawer-selected-item: #e1dde2,
    bg-drawer-selected-item-hover: #dad5db,
    bg-drawer-item-hover: $actionHover,
    bg-app-header: #ffffff,
    bg-card: #ffffff,
    bg-tree-menu: #f5eff6,
    bg-tree-menu-icon: #424242,
    bg-action-icon-tooltip: #9fa8da,

    border-card: #43a047,
    border-card-hover: #66bb6a,

    text-drawer-item: #424242,
    text-drawer-selected-item: #000000,
    text-card: #616161,
    text-tree-menu: #616161,
    action-menu-icon: #263238,

    app-logo: url("../../Images/header/ligeiaLogo.png"),
  ),
  tempDark: (
    bg-all: #000000,
    bg-drawer: #1c1b1e,
    bg-drawer-selected-item: #605d62,
    bg-drawer-selected-item-hover: #616161,
    bg-drawer-item-hover: $actionHover,
    bg-app-header: #1c1b1e,
    bg-card: #323033,
    bg-tree-menu: #323033,
    bg-tree-menu-icon: #ffffff,
    bg-action-icon-tooltip: #5c6bc0,

    border-card: #605d62,
    border-card-hover: #607d8b,

    text-drawer-item: #aeaaae,
    text-drawer-selected-item: #ffffff,
    text-card: #eeeeee,
    text-tree-menu: #aeaaae,
    action-menu-icon: #ffffff,

    app-logo: url("../../Images/header/ligeiaLogoDark.png"),
  ),
  temp2: (
    bg-all: #f8f1f9,
    bg-drawer: #ffffff,
    bg-drawer-selected-item: #e1dde2,
    bg-drawer-selected-item-hover: #dad5db,
    bg-drawer-item-hover: $actionHover,
    bg-app-header: #ffffff,
    bg-card: #ffffff,
    bg-tree-menu: #f5eff6,
    bg-tree-menu-icon: #424242,
    bg-action-icon-tooltip: #9fa8da,

    border-card: #43a047,
    border-card-hover: #66bb6a,

    text-drawer-item: #424242,
    text-drawer-selected-item: #000000,
    text-card: #616161,
    text-tree-menu: #616161,
    action-menu-icon: #263238,

    app-logo: url("../../Images/header/ligeiaLogo.png"),
  ),
  tempDark2: (
    //BACKGROUNDS
    // background
    bg-all: #000000,
    // drawer menu background
    bg-drawer: #1c1b1e,
    //drawer menu selected Item
    bg-drawer-selected-item: #605d62,
    //drawer menu selected list item hover
    bg-drawer-selected-item-hover: #616161,
    //drawer menu list item hover
    bg-drawer-item-hover: $actionHover,
    //app - header
    bg-app-header: #1c1b1e,
    //homepage card
    bg-card: #323033,
    //tree menü bg, breadcrumb bg
    bg-tree-menu: #323033,
    //tree menü icon bg, breadcrumb home icon
    bg-tree-menu-icon: #ffffff,
    //action menu icon tooltip
    bg-action-icon-tooltip: #5c6bc0,

    //BORDERS
    //home page card border
    border-card: #605d62,
    border-card-hover: #009900,

    //TEXTS
    //drawer menu list item text and icons, drawer menu open icon,breadcrumb text
    text-drawer-item: #ffffff,
    //drawer menu list item text and icons selected, treemenu resize border
    text-drawer-selected-item: #ffffff,
    //card title,card body
    text-card: #ffffff,
    //tree menu text, breadcrumb last text
    text-tree-menu: #ffffff,
    //action menu icon color
    action-menu-icon: #ffffff,

    //Images
    app-logo: url("../../Images/header/ligeiaLogoDark.png"),
  ),
) !default;

$theme-map: null;

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
